doctype html
html.bg-0
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Intuitive
		link(rel='stylesheet' href='/intuitive/public/styles/dark.css')
		link(rel='stylesheet' href='/intuitive/public/fonts/intuitive.css')
	body.bg-0
		h2.pl-2 Intuitive Icons:
		ul.list-unstyled.pl-4
			li
				| int-asterisk-1: 
				a.int.int-asterisk-1
			li
				| int-bootstrap-1: 
				a.int.int-bootstrap-1
			li
				| int-briefcase-1: 
				a.int.int-briefcase-1
			li
				| int-certificate-1: 
				a.int.int-certificate-1
			li
				| int-css3-1: 
				a.int.int-css3-1
			li
				| int-down-arrow-1: 
				a.int.int-down-arrow-1
			li
				| int-envelope-1: 
				a.int.int-envelope-1
			li
				| int-git-1: 
				a.int.int-git-1
			li
				| int-github-1: 
				a.int.int-github-1
			li
				| int-github-2: 
				a.int.int-github-2
			li
				| int-gitlab-1: 
				a.int.int-gitlab-1
			li
				| int-gulpjs-1: 
				a.int.int-gulpjs-1
			li
				| int-home-1: 
				a.int.int-home-1
			li
				| int-html5-1: 
				a.int.int-html5-1
			li
				| int-jquery-1: 
				a.int.int-jquery-1
			li
				| int-js-1: 
				a.int.int-js-1
			li
				| int-menu-1: 
				a.int.int-menu-1
			li
				| int-mongodb-1: 
				a.int.int-mongodb-1
			li
				| int-nodejs-1: 
				a.int.int-nodejs-1
			li
				| int-npm-1: 
				a.int.int-npm-1
			li
				| int-page-1: 
				a.int.int-page-1
			li
				| int-phone-1: 
				a.int.int-phone-1
			li
				| int-pugjs-1: 
				a.int.int-pugjs-1
			li
				| int-reactjs-1: 
				a.int.int-reactjs-1
			li
				| int-rocket-1: 
				a.int.int-rocket-1
			li
				| int-sass-1: 
				a.int.int-sass-1
			li
				| int-star-1: 
				a.int.int-star-1
			li
				| int-terminal-1: 
				a.int.int-terminal-1
			li
				| int-vim-1: 
				a.int.int-vim-1
			li
				| int-webpack-1: 
				a.int.int-webpack-1
			li
				| int-world-1: 
				a.int.int-world-1
